*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgb(53, 186, 219) 50%, rgb(90, 103, 249) 100%);
}

.container{
    background-color: rgba(249, 249, 7,0.3);
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
}

h1{
    margin-bottom: 10px;
    font-size: 2.3rem;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin: 20px;
}

#birthday{
    width: 100%;
    max-width: 330px;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    border: 1px solid #ccc;
}

#btn{
    font-size: 1rem;
    margin: 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;

}

#btn:hover{
    background-color: rgb(136, 3, 194);
}

#result{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
